/*Weather display on about page*/

.weather-container {
  width: 100%;
  background-color: #fff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
}
#block-wrp {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#block-wrp .block-item {
  height: 600px;
  width: 55%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
#block-wrp .block-item .map-item {
  height: 90%;
}
#block-wrp .block-item span.city-name {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
  height: 10%;
  line-height: 2em;
}

/* slick arrows styling*/
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: rgba(136, 197, 247, 0.6);
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 200px;
  height: 40px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}
